:root {
  --color-primary: #212121;
  --color-second: #757575;
  --color-active: #2196f3;
  --color-background: #f5f4fa;
  --color-fone: #fff;
  --color-logo: #000;
  --color-backdark: #2f303a;
  --color-hero: #188ce8;
  --color-svg: #afb1b8;
  --main-font: "Roboto", sans-serif;
}
body {
  font-family: var(--main-font);
  background-color: var(--color-fone);
  color: var(--color-primary);
  font-size: 14px;
  letter-spacing: 0.03em;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
address {
  font-style: normal;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
a:focus {
  outline: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  overflow: hidden;
  clip: rect(0 0 0 0);
}
/*header*/
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.nav {
  border-bottom: 1px solid #eeeeee;
}
.main-nav {
  display: flex;
  align-items: center;
}
.navigation {
  margin-left: 93px;
}
nav .current {
  color: var(--color-active);
  position: relative;
}
.current::after{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
width: 100%;
height: 4px;
  border-bottom: 2px;
  background-color: var(--color-active);
  border-radius: 2px;
}
.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--color-logo);
}
.page-logo {
  color: var(--color-active);
}

.nav-list {
  display: flex;
}
.nav-list > li:not(:last-child) {
  margin-right: 50px;
}
.nav-page {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  line-height: 1.1;
  color: var(--color-primary);
  cursor: pointer;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-page:hover,
.nav-page:focus {
  color: var(--color-active);
}

.contacts {
  font-weight: 500;
  line-height: 1.1;
  display: flex;
  align-items: center;
  color: var(--color-second);

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts:hover,
.contacts:focus {
  color: var(--color-active);
}

.nav-contacts {
  display: flex;
  margin-left: auto;
}
.nav-contacts > li:not(:last-child) {
  margin-right: 50px;
}
.icon-envelope {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
}
.icon-smartphon {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
}

/*hero*/
.hero {
  padding: 200px 0;
  background-color: var(--color-backdark);
  text-align: center;
  max-width: 1600px;
  height: 600px;
  margin: 0 auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.hero-title {
  margin: 0 auto;
  width: 696px;
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;

  text-transform: uppercase;
  letter-spacing: 0.06em;
  line-height: 1.4;
  color: var(--color-fone);
}
.hero-button {
  border: none;
  border-radius: 4px;
  padding: 10px 32px;

  font-family: var(--main-font);
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.06em;
  line-height: 1.9;
  color: var(--color-fone);
  background-color: var(--color-active);

  cursor: pointer;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-button:hover,
.hero-button:focus {
  background-color: var(--color-hero);
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
/*Секція 2*/

.benefits-icon::before {
  content: "";
  display: block;
  background-color: var(--color-background);
  height: 120px;
  margin-bottom: 30px;
  background-repeat: no-repeat;
  background-position: center;
}
.icon-antenna::before {
  background-image: url(../images/antenna.svg);
}
.icon-clock::before {
  background-image: url(../images/clock.svg);
}
.icon-diagram::before {
  background-image: url(../images/diagram.svg);
}
.icon-astronaut::before {
  background-image: url(../images/astronaut.svg);
}

.benefits-title {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  text-transform: uppercase;
  color: var(--color-primary);
}
.benefits-text {
  margin-bottom: 0;

  line-height: 1.7;
  color: var(--color-second);
}

/* section*/
.features {
  padding-top: 0;
}
.section-lists {
  display: flex;
  gap: 30px;
}
.title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  color: var(--color-primary);
}
.section-lists li{
  position: relative;
}
.features-desc{
  position: absolute;
  bottom: 0;
  padding-top: 27px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  text-transform: uppercase;
  color: var(--color-fone);
  text-align: center;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);

}

/*Секція Команда*/
.list-profy {
  background-color: var(--color-background);
}
.section-list-profy {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.list-face {
  padding-top: 30px;
  padding-bottom: 30px;
}
.name {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--color-primary);
}
.profy {
  margin-bottom: 16px;

  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--color-second);
}
.icon-position {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.name-socials {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  
  color: var(--color-svg);

  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.name-socials:hover,
.name-socials:focus {
  color: var(--color-fone);
  background-color: var(--color-active);
}
.meta {
  width: 20px;
  height: 20px;

  fill: currentColor;
}

/*Секція Постійні клієнти*/

.clients-lists {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.clients-link {
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;

  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--color-svg);

  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-client {
  fill: currentColor;
  outline: none;

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-link:hover,
.clients-link:focus {
  border: 1px solid #188ce8;
}
.clients-link:hover .icon-client,
.clients-link:focus .icon-client {
  fill: var(--color-active);
}

/*Секція Приклади робіт*/
.works-button-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.works-button {
  padding: 6px 22px;

  background-color: var(--color-background);
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-primary);
  border: none;
  border-radius: 4px;
  cursor: pointer;

  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.works-button-list li + li {
  margin-left: 8px;
}
.works-button:hover {
  color: var(--color-fone);
  background-color: var(--color-active);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.works-button:focus {
  color: var(--color-fone);
  background-color: var(--color-active);
  outline: none;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.portfolio-link {
  display: block;

  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.works-box {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
}
.works-title {
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: var(--color-primary);
}
.works-link {
  margin-top: 0;
  margin-bottom: 0px;

  font-size: 16px;
  line-height: 1.9;
  color: var(--color-second);
}

/*footer*/

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--color-backdark);
}
.footer .container {
  display: flex;
  align-items: baseline;
}
.footer-list {
  display: inline-block;
  margin-top: 20px;
}
.logo-footer {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--color-fone);
  cursor: pointer;
}
.logo-web {
  color: var(--color-active);
}
.footer-list-element {
  margin-top: 20px;
}
.footer-address {
  font-style: normal;
  font-weight: 400;
  line-height: 1.7;

  color: var(--color-fone);
  cursor: pointer;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-address:hover,
.footer-address:focus {
  color: var(--color-active);
}
 .footer-list-element > li:not(:last-child) {
  margin-bottom: 9px;
}
.footer-contacts {
  font-style: normal;
  line-height: 1.7;
  color: rgba(255, 255, 255, 0.6);
  cursor: pointer;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-contacts:hover,
.footer-contacts:focus {
  color: var(--color-active);
}
.socials-box {
  margin-left: 70px;
}
.socials {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--color-fone);
}
.footer-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.footer-socials {
  width: 44px;
  height: 44px;
  fill: var(--color-fone);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-socials:hover,
.footer-socials:focus {
  background-color: var(--color-active);
}
.footer-meta {
  width: 20px;
  height: 20px;
  fill: var(--color-fone);
}
